@if (!(User?.Identity?.IsAuthenticated ?? false))
{
 	<a class="login-btn" asp-controller="Authentication" asp-action="Index" method="get">Login</a>
}else{ 
	<span class="user-info">Welcome, @User.Identity.Name</span>
	<form asp-area="" asp-controller="Authentication" asp-action="Logout" method="post">
		<button class="logout-btn" type="submit">Logout</button>
	</form>
}

<style>
	.login-btn, .logout-btn {
		width: 130px;
		height: 50px;
		border: 1px solid black;
		border-radius: 20px;

		display: flex;
		align-items: center;
		justify-content: center;

		color: black;
		font-size: 20px;
		font-weight: 450;
		transition: 0.3s;
	}

	.login-btn {
		background: #FFF3CC;
	} 

	.logout-btn {
		background: #FFD0C7;
	}

	.login-btn:hover {
		background: #FFE599;
		transform: scale(1.05);
	}

	.logout-btn:hover {
		background: #FFB2A1;
		transform: scale(1.05);
	}

	.user-info{
		display: flex;
		align-items: center;
		gap: 8px;
	}
</style>