<ul class="nav-menu">
	<li><a href="" class="nav-item">Home</a></li>
	<li><a href="" class="nav-item">About</a></li>
	<li><a href="" class="nav-item">Contact</a></li>
</ul>

<style>
	.nav-item, .nav-menu{
		display: flex;
		align-items: center;
		justify-items: center;
	}

	.nav-menu {
		list-style: none;
		margin: 0;
	}

	.nav-item {
		color: black;
		margin-right: 30px;
	}

	.nav-item:hover {
		text-decoration: underline;
		font-weight: 500;
	}
</style>
