@{
    ViewData["Title"] = "Lanklub - Multi Language Learning";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link of CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css">
    <link rel="stylesheet" href="~/assets/css/scrollCue.css">
    <link rel="stylesheet" href="~/assets/css/all.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <!-- Title -->
    <title>@ViewData["Title"]</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets/images/favicon.svg">
</head>
<body class="bg-fbfbfb">

    <!-- Start Navbar Area -->
    <div class="navbar-area position-fixed top-0 start-0 end-0">
        <div class="lanklub-responsive-nav">
            <div class="container">
                <div class="lanklub-responsive-menu">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img src="~/assets/images/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lanklub-nav">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/assets/images/logo.svg" alt="logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="dropdown-toggle nav-link">
                                    Home
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Index">Home Demo - 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Index2">Home Demo - 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="Index3">Home Demo - 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="About" asp-action="Index" class="nav-link">
                                    About
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="dropdown-toggle nav-link">
                                    Courses
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="Courses" asp-action="Index" class="nav-link">
                                            Courses
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Courses" asp-action="Details" class="nav-link">
                                            Course Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="dropdown-toggle nav-link active">
                                    Pages
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a asp-controller="Team" asp-action="Index" class="nav-link">
                                            Team
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Team" asp-action="Details" class="nav-link">
                                            Team Details
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0);" class="dropdown-toggle nav-link">
                                            Blog
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a asp-controller="Blog" asp-action="Index" class="nav-link">
                                                    Blog
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-controller="Blog" asp-action="Details" class="nav-link">
                                                    Blog Details
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Login" class="nav-link active">
                                            Login
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Account" asp-action="Register" class="nav-link">
                                            Register
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="PrivacyPolicy" class="nav-link">
                                            Privacy Policy
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="TermsConditions" class="nav-link">
                                            Terms & Conditions
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-controller="Home" asp-action="NotFound" class="nav-link">
                                            404 Error Page
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Contact" asp-action="Index" class="nav-link">
                                    Contact
                                </a>
                            </li>
                        </ul>
                        <div class="others-option">
                            <a asp-controller="Courses" asp-action="Index" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
    <!-- Start Page Banner Area -->
    <div class="page-banner-area text-center position-relative z-1">
        <div class="container">
            <h1 class="mb-0 text-white text-uppercase" data-cue="slideInUp">
                Log In
            </h1>
        </div>
    </div>
    <!-- End Page Banner Area -->
    <!-- Start Login Area -->
    <div class="login-area bg-fbfbfb ptb-120">
        <div class="container">
            <div class="row align-items-center" data-cues="slideInUp" data-group="loginContent">
                <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                    <div class="login-image text-center">
                        <img src="~/assets/images/login.jpg" alt="login-image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                    <div class="login-content">
                        <ul class="links p-0 list-unstyled">
                            <li class="d-inline-block">
                                <a asp-controller="Account" asp-action="Login" class="d-block position-relative active">
                                    Log in
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a asp-controller="Account" asp-action="Register" class="d-block position-relative">
                                    Register
                                </a>
                            </li>
                        </ul>
                        <h3 class="fw-medium">
                            Log in to your account
                        </h3>
                        <form asp-controller="Account" asp-action="Login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control shadow-none" placeholder="Email" name="email">
                            </div>
                            <div class="form-group position-relative">
                                <input type="password" id="passwordInput" class="form-control shadow-none" placeholder="Password" name="password">
                                <button type="button" class="p-0 bg-transparent border-0" id="togglePassword">
                                    <i class="fa-regular fa-eye-slash"></i>
                                </button>
                            </div>
                            <a href="#" class="forgot-password">
                                Forgot your Password?
                            </a>
                            <button type="submit" class="default-btn d-block w-100">
                                Log in
                            </button>
                            <p class="text-center">
                                Or log in with an account
                            </p>
                            <div class="socials text-center">
                                <button type="button" class="d-inline-block border-0 p-0 position-relative">
                                    <i class="fa-brands fa-apple"></i>
                                </button>
                                <button type="button" class="d-inline-block border-0 p-0 position-relative">
                                    <i class="fa-brands fa-github"></i>
                                </button>
                                <button type="button" class="d-inline-block border-0 p-0 position-relative">
                                    <i class="fa-brands fa-google"></i>
                                </button>
                                <button type="button" class="d-inline-block border-0 p-0 position-relative">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </button>
                                <button type="button" class="d-inline-block border-0 p-0 position-relative">
                                    <i class="fa-brands fa-windows"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Area -->
    <!-- Start Footer Area -->
    <footer class="footer-area bg-f6ffeb pt-120">
        <div class="container">
            <div class="subscribe-box row" data-cues="slideInUp" data-group="subscribeContent">
                <div class="col-lg-6 col-md-12">
                    <div class="subscribe-content">
                        <h3 class="fw-semibold">
                            Subscribe to Newsletter
                        </h3>
                        <p>
                            Stay updated with our latest news and offers
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="subscribe-form">
                        <form>
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <button type="button">
                                Subscribe
                            </button>
                        </form>
                        <p>
                            By subscribing, you agree to our Privacy Policy
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" data-cues="fadeIn" data-group="footerContent">
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget mb-25">
                        <a asp-controller="Home" asp-action="Index" class="logo mb-0 d-inline-block">
                            <img src="~/assets/images/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget mb-25">
                        <h3 class="fw-medium">
                            About Us
                        </h3>
                        <ul class="custom-links p-0 mb-0 list-unstyled">
                            <li>
                                <a asp-controller="Contact" asp-action="Index">
                                    Contact
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Contact" asp-action="Index">
                                    Support
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">
                                    Resources
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="PrivacyPolicy">
                                    Help Center
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Blog" asp-action="Index">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget mb-25">
                        <h3 class="fw-medium">
                            Courses
                        </h3>
                        <ul class="custom-links p-0 mb-0 list-unstyled">
                            <li>
                                <a asp-controller="Courses" asp-action="Details">
                                    Language Learning
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Testimonials
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Events
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Partners
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Careers
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-footer-widget mb-25">
                        <h3 class="fw-medium">
                            Terms
                        </h3>
                        <ul class="custom-links p-0 mb-0 list-unstyled">
                            <li>
                                <a asp-controller="Home" asp-action="PrivacyPolicy">
                                    Privacy
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="PrivacyPolicy">
                                    Cookies
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="TermsConditions">
                                    Sitemap
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="TermsConditions">
                                    Accessibility
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="TermsConditions">
                                    Terms of Service
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright-area border-top">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-sm-6">
                        <p class="mb-0">
                            &copy; 2024 Lanklub. All rights reserved.
                        </p>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <ul class="custom-links mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a asp-controller="Home" asp-action="PrivacyPolicy">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a asp-controller="Home" asp-action="TermsConditions">
                                    Terms of Service
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a asp-controller="Home" asp-action="PrivacyPolicy">
                                    Cookies Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="socials">
                            <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                <i class="fa-brands fa-x-twitter"></i>
                            </a>
                            <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                            <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                <i class="fa-brands fa-google"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->
    <!-- Go Top -->
    <div class="go-top bg-white text-center rounded-circle position-fixed">
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <!-- End Go Top -->
    <!-- Link of JS Files -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/magnific-popup.min.js"></script>
    <script src="~/assets/js/meanmenu.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/scrollCue.min.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>
</html>
